@media only screen and (min-width: 901px){
    nav {
        height: 150px !important;
    }
}

.nav-top-container {

    width: 90% !important;

    button {
        background-color: #000000 !important;
        border: 0px !important;
        font-weight: 100 !important;
    }

    @media only screen and (max-width: 991px){
        button {
            font-size: .6rem !important;
        }

        .nav-img {
            width: 100px !important;
        }
    }

    @media only screen and (min-width: 992px){
        button {
            font-size: 1.5rem !important;
            padding: 15px 30px 15px 30px !important;
        }

        .nav-img {
            width: 200px !important;
        }
    }
        
}