@media only screen and (min-width: 901px){
 
    .black{
        color: #000000 !important;
    }

    .white{
        color: white !important;
    }

}



.nav-top-container {

    width: 90% !important;

    button {
        background-color: #000000 !important;
        border-radius: 0px !important;
        border: 0px !important;
        font-weight: 100 !important;
    }

    @media only screen and (max-width: 991px){
        button {
            font-size: .6rem !important;
        }

        .nav-img {
            width: 100px !important;
        }
    }

    @media only screen and (min-width: 992px){

        .nav-img {
            width: 160px !important;
        }
    }
        
}